In [17]:
#mengubah nilai elemen didalam list

# membuat list
pohon = ['pohon mangga', 'pohon pisang', 'pohon bintaro']
print('sebelum diubah:')
print(pohon)

# mengubah nilai elemen dalam list
pohon[1] = 'pohon jati'
pohon[-1] = 'pohon pepaya'

# menampilkan hasil perubahan
print('setelah diubah:')
print(pohon)

sebelum diubah:
['pohon mangga', 'pohon pisang', 'pohon bintaro']
setelah diubah:
['pohon mangga', 'pohon jati', 'pohon pepaya']

In [47]:
# menghapus elemen dari list

# membuat list 
nama = ['joni', 'asep', 'joko', 'ucup', 'kuceng']
print('sebelum dihapus:')
print(nama)

#menggunakan remove (); menghaous elemen list berdasarkan nilainya
#bentuk umum: nama_variable.remove()
nama.remove('joni')
nama.remove('kuceng')

#menampilkan hasil stelah dihapus dengan metode remove():
print('setelah dihapus dengan metode remove():')
print(nama)

#menggunakan del[]; menghapus elemen list berdasarkn indeksnya 
# bentuk umum : delm_nama_varibel[indeks]
del nama[2]
del nama[-2]

#menampilkan

sebelum dihapus:
['joni', 'asep', 'joko', 'ucup', 'kuceng']
setelah dihapus dengan metode remove():
['asep', 'joko', 'ucup']

In [55]:
#

# buat list
buah = ('pepaya', 'jambu', 'pisang', 'semangka')
print(buah)
# mencari elemen
print('pepaya berada pada indeks ke:')
print(buah.index('pepaya'))
print('jambu berada pada indeks ke:')
print(buah.index('jambu'))
print('semangka pada indeks ke:')
print(buah.index('semangka'))

('pepaya', 'jambu', 'pisang', 'semangka')
pepaya berada pada indeks ke:
0
jambu berada pada indeks ke:
1
semangka pada indeks ke:
3

In [99]:
#menyusun list menggunakan metode sort() dan reverse()

#buat list
buah = ('pepaya', 'jambu', 'pisang', 'semangka')

# metode sort
print('data list awal:')
print(buah)
print('setelah di sort:')
buah.sort()
print(buah)

data list awal:
('pepaya', 'jambu', 'pisang', 'semangka')
setelah di sort:

AttributeError: 'tuple' object has no attribute 'sort'

In [75]:
# metode sort
print('data list awal:')
print(L)
print('setelah di sort:')
L.reverse()
print(L)

data list awal:
('bb', 'cc', 'aa')
setelah di sort:

AttributeError: 'tuple' object has no attribute 'reverse'

In [95]:
#mngulang karakter dalam sebuah string 

#membuat list
list = ('politeknik','takumi','hebat')
print('data list:')
print(list)
print('mengulang karakter pada item takumi sebanyak 9 kali:')
doubles = [c * 9 for c in 'takumi']
print(doubles)
doubles1 = [c * 3 for c in 'takumi']
print(doubles1)
# tidak bisa digubakan dalam tipe numerik

data list:
('politeknik', 'takumi', 'hebat')
mengulang karakter pada item takumi sebanyak 9 kali:
['ttttttttt', 'aaaaaaaaa', 'kkkkkkkkk', 'uuuuuuuuu', 'mmmmmmmmm', 'iiiiiiiii']
['ttt', 'aaa', 'kkk', 'uuu', 'mmm', 'iii']

# type touple

In [110]:
# type touple adalah list yang tidak bisa diubah
# tuple sebenernya mrip dengan array kostan
# bentuk umum touple menggunakan tanda kurung()

#contoh
hari = ('senin', 'selasa', 'rabu', 'kamis','jumat','sabtu', 'minggu')
print(type('hari'))

#menampilkan hari
print(hari)
print(hari[0])
print(hari[2])
print(hari[-2])

# contoh operasi pada touple
T = (1, 2, 3, 4)
print(T)

print(len(T)) #menampilkan banyak item 

print(T+(5,6)) #penggabungan

print(T[0]) #menampilkan indek 0

print(T.index(4)) #menampilkan indek 4

print(T.count(4)) #menampilkan indek 4

T1 = ('takumi', 4.0, [11, 22, 33])
print(T1)

print(T1[1])

print(T1[2][1])

<class 'str'>
('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')
senin
rabu
sabtu
(1, 2, 3, 4)
4
(1, 2, 3, 4, 5, 6)
1
3
1
('takumi', 4.0, [11, 22, 33])
4.0
22

In [122]:
#tampa menggunakan tanda kurung makan adalah jenis tuple

hari = 'senin', 'selasa', 'rabu', 'kamis', \
'jumat','sabtu', 'minggu'
print(type(hari))

print(hari)
print(hari[0])
print(hari[-2])
print(hari[3])

# menggunakan metode tuple tidak bisa append atau ditambah

<class 'tuple'>
('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')
senin
sabtu
kamis

In [124]:
#tuple menggunalan op 'in' digunakan untuk memeriksa
hari = ('senin', 'selasa', 'rabu', 'kamis','jumat','sabtu', 'minggu')
print('data tuple:')
print(hari)

print('selasa pada item tuple')
print('selasa' in hari)
print('ahad pada item tuple')
print('ahad' in hari)

data tuple:
('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')
selasa pada item tuple
True
ahad pada item tuple
False

 # latihan tuple

In [151]:
# mengubah tipe list ke tuple

negara = 'brazil', 'cina', 'amerisya usyara', \
'jepang', 'indonesia'
print(type(negara))

print(negara)
print(negara[0])
print(negara[-2])
print(negara[2])

# tuple tidak bisa ditambah, kurangi, ubah
negara = 'brazil', 'cina', 'amerisya usyara'
print('elemen awal:')
print(negara)

negara.append('indonesia')
print('\nSetelah append():')
print(negara)

<class 'tuple'>
('brazil', 'cina', 'amerisya usyara', 'jepang', 'indonesia')
brazil
jepang
amerisya usyara
elemen awal:
('brazil', 'cina', 'amerisya usyara')

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
negara.remove(1,'brazil')
print('\nSetelah insert():')
print(negara)

AttributeError: 'tuple' object has no attribute 'remove'

In [155]:
negara = 'brazil', 'cina', 'amerisya usyara', \
'jepang', 'indonesia'
negara = ['brazil', 'cina', 'amerisya usyara', 
'jepang', 'indonesia']

print(type(negara))
print(negara)

negara['cina'] = 'india'

<class 'list'>
['brazil', 'cina', 'amerisya usyara', 'jepang', 'indonesia']

TypeError: list indices must be integers or slices, not str

In [161]:
negara = 'brazil', 'cina', 'amerisya usyara', \
'jepang', 'indonesia'
print(negara)
print(negara[0])
print(negara[-3])

('brazil', 'cina', 'amerisya usyara', 'jepang', 'indonesia')
brazil
amerisya usyara

In [165]:
negara = 'brazil', 'cina', 'amerisya usyara', \
'jepang', 'indonesia'
print('data tuple:')
print(negara)

print('amerisya usyara pada item tuple:')
print('amerisya usyara' in negara)
print('india pada item tuple:')
print('india' in negara)

data tuple:
('brazil', 'cina', 'amerisya usyara', 'jepang', 'indonesia')
amerisya usyara pada item tuple:
True
india pada item tuple:
False