# operator

In [1]:
#dalam pembuatan program, banyak menggunakan operasi yang melibatkan nilai numerik, string dll
#operator diklarifikasikan ke dalam 5 klp:
#operator penugasan (1)
#operator aritmatika (2)
#operator relasional (3)
#operator logika (4)
#operator string (5)
#operator bitwise (6)

# operator penugasan

In [4]:
#menggunakan tanda operasi / operator sma dengan (=)
#contoh
a = 5
print(a)

5

In [6]:
#contoh
a = 5
a = a + 8
print(a)

13

In [12]:
#merubah kode operasi penjumlahan a+= 8
a = 5
a += 8
print(a)

13

In [14]:
#operasi perkalian
b = 22
b *= 3
print(b)

66

In [20]:
#operasi pembagian bilangan rill /
c = 22
c /= 3
print(c)

7.333333333333333

In [22]:
#operasi pembagian bilangan bulat //
c = 22
c //= 3
print(c)

7

In [24]:
c = 22
c //= 3
print(c)
print(22/3)

7
7.333333333333333

In [28]:
#operasi pencarian sisa dari pembagian (/=)
c = 22
c %= 3
print(c)

1

# operator aritmetika

In [56]:
#operator ini digunakan untuk melakukan perhitungan terhadap data numerik
#bentuk operatornya :
# + (untuk penjumlahan)
# - (untuk pengurangan)
# * (untuk perkalian)
# / (untuk pembagian rill)
# // (untuk pembagian bulat)
# % (untuk sisa dari pembagian)
# ** (untuk perpangkatan)


#contoh program
def main():
    #mendefinisikan variable x dan y
    x = 11
    y = 9
    print('x =', x) #menampilkan nilai x
    print('y =', y) #menampilkan nilai y
    print('x + y', (x + y))
    print('x - y', (x - y))
    print('x * y', (x * y))
    print('x // y', (x // y))
    print('x / y', (x / y))
    print('x % y', (x % y))
    print('x ** y', (x ** y))   
    
if __name__ == '__main__':
    main()

x = 11
y = 9
x + y 20
x - y 2
x * y 99
x // y 1
x / y 1.2222222222222223
x % y 2
x ** y 2357947691

# operator relasional

In [65]:
#operator yang digunakan untk membandingkan 2 buah nilai.
#biasanya hasil perbandingan yang diperoleh adalah nilai logika atau type nya boolean, yaitu true atau false
#bentuk operator relasional :
# == (sama dengan)
# != (tidak sama dengan)
# > (lebih besar)
# < (lebih kecil)
# >= (lebih besar atau sama dengan)
# <= (lebih kecil atau sama dengan)
# in (memeriksa nilai dalam kumpulan [dict, list, tuple, set])

#contoh program
def main():
    #mendefinisikan variable x dan y
    #dan li (bertipe list)
    x = 32
    y = 4
    li = [2, 4, 8, 16, 32]
    print('x =', x) #menampilkan nilai x
    print('y =', y) #menampilkan nilai y
    print(li)  
    print('x == y', (x == y)) #melakukan pemeriksaan x dan y
    print('x != y', (x != y))
    print('x < y', (x < y))
    print('x > y', (x > y))
    print('x <= y', (x <= y))
    print('x >= y', (x >= y))
    print('x in li', (x in li)) 
    print('y in li', (y in li))
if __name__ == '__main__':
    main()

x = 32
y = 4
[2, 4, 8, 16, 32]
x == y False
x != y True
x < y False
x > y True
x <= y False
x >= y True
x in li True
y in li True

# operator logika

In [81]:
#adalah operator yang digunakan untuk melakukan operasi terhadap nilai true dan false
#operator and (operasi AND)
#operator or (operasi OR)
#operator not (operasi NOT)

#operasi AND
def main():
    print('operasi AND')
    print('true and true\t:', (True and True))
    print('true and false\t:', (True and False))
    print('false and true\t:', (False and True))
    print('false and false\t:', (False and False))

if __name__ == '__main__':
    main()

operasi AND
true and true	: True
true and false	: False
false and true	: False
false and false	: False

In [99]:
#operasi OR
def main():
    print('operasi OR')
    print('false and false\t:', (False and False))
    print('false and true\t:', (True and True))
    print('true and false\t:', (True and True))
    print('true and true\t:', (True and True))

if __name__ == '__main__':
    main()

operasi OR
false and false	: False
false and true	: True
true and false	: True
true and true	: True

In [111]:
#operasi NOT
def main():
    print('operasi NOT')
    print('false  :', (True))
    print('true   :', (False))
   
if __name__ == '__main__':
    main()

operasi NOT
false  : True
true   : False

# operator string

In [122]:
#string dapat disatukan dengan string lainnya menggunakan operator '+'

#contoh
str1 = 'politeknik'
str2 = 'takumi'

#menjumlahkan string
str3 = str1 + str2
print(str3)

politekniktakumi

In [124]:
#jika string akan digabung dengan nilai numerik maka nilai numerik tsb perlu dikonversikan kedalam tipe str

#contoh 
bil1 = 15
bil2 = 7.25
print('bil1 :' + str(bil1))
print('bil 2:' + str(bil2))

bil1 :15
bil 2:7.25

In [128]:
#cara lain menyambung nilai numerik dgn string membuat string terformat

#contoh
bil1 = 15
bil2 = 7.25

str1 = 'bil1 : %d' % bil1
str2 = 'bil1 : %.2f' % bil2

print(str1)
print(str2)

bil1 : 15
bil1 : 7.25

In [132]:
# operator 'in' untuk memeriksa apakah karakter atau substring tertentu ada di dalam string

#contoh
arvin = 'pradipta mahadika'
if 'mahadika' in arvin:
    print("'mahadika' ada didalam string arvin")
else:
89    print("mahadika' ada didalam string arvin")

'mahadika' ada didalam string arvin

In [142]:
#menerapkan operator '*' kedalam str utk mengulang karakter

#contoh
karakter = 'T'
teks = karakter * 3
print(teks)

print((teks + '  ')*7)

TTT
TTT  TTT  TTT  TTT  TTT  TTT  TTT

In [144]:
#contoh

print(('takumi' + '  ')*7)

takumi  takumi  takumi  takumi  takumi  takumi  takumi

# operator bitwise

In [168]:
#operasi bitwise bertipe bilangan bulat (integer) 
#variable pertama akan dikonversikan menjadi bentuk binner (basis 2)
#bentuk operator:
# & (bitwise AND)
# | (bitwise OR)
# ^ (bitwise XOR)
# ~ (bitwise NOT)
# << (bitwise shift left)
# >> (bitwise shift right)

#contoh
def main ():
    x = 10 #dalam bentuk biner 1010
    y = 5 #dalam bentuk biner 0101

#menampilkan nilai x dan y
    print('x:\t' + str(x))
    print('y:\t' + str(y))

    print("\nBitwise AND")
    print("x&y \t:" + str(x&y))

    print("\nBitwise OR")
    print("x|y \t:" + str(x|y))

    print("\nBitwise XOR")
    print("x^y \t:" + str(x^y))

    print("\nBitwise NOT")
    print("~x \t:" + str(~x))
    print("~y \t:" + str(~y))

    print("\nBitwise SHIFT LEFT")
    print("x<<1 \t:" + str(x<<1))
    print("y<<1 \t:" + str(y<<1))


    print("\nBitwise SHIFT RIGHT")
    print("x>>1 \t:" + str(x>>1))
    print("y>>1 \t:" + str(y>>1))

if __name__ == '__main__':
    main()

x:	10
y:	5

Bitwise AND
x&y 	:0

Bitwise OR
x|y 	:15

Bitwise XOR
x^y 	:15

Bitwise NOT
~x 	:-11
~y 	:-6

Bitwise SHIFT LEFT
x<<1 	:20
y<<1 	:10

Bitwise SHIFT RIGHT
x>>1 	:5
y>>1 	:2